b {
  font-family: "Manrope";
}
h2 {
  margin-bottom: 10px;
}
h4 {
  font-size: 20px;
  text-indent: 50px;
  line-height: 2.5rem;
  letter-spacing: 1px;
}
.after_map {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.25rem;
  text-align: unset;
  max-width: 80%;
}
a {
  font-family: "Delta", sans-serif;
}
.price_button {
  text-align: center;
  background-color: rgb(79, 169, 61);
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  padding: 10px;
  font-family: "Delta", sans-serif;
  transition: all 200ms ease;
  border: 0;
  max-width: 250px;
  margin: 10px 0px;
  animation: zoomInOut 1.2s ease infinite;
  /* height: 100%; */

  /* width: 10%; */
}
.price_button:hover {
  cursor: pointer;
  background-color: #334;
}
.price_block_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* justify-content: space-evenly; */
}
@media screen and (max-width: 992px) {
  .price_button {
    max-width: 100%;
  }
  .price_block_wrapper {
    grid-template-columns: 1fr;
  }
  .prices_list {
    text-align: center;
  }
  h4 {
    text-indent: 0;
  }
  .after_map {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
  }
}
