@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@font-face {
  font-family: "Delta";
  src: url("/fonts/myfont-regular-webfont.woff2") format("woff2"),
    url("/fonts/myfont-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#onloads {
  background-color: #fff;
  position: fixed;
  z-index: 200;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.03);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}
#onloads img {
  width: 10%;
  animation: zoomInOut 1s ease-in-out infinite;
}
.first_h2_many {
  padding-top: 0;
}
@media screen and (max-width: 992px) {
  #onloads img {
    width: 20%;
  }
  .first_h2_many {
    padding-top: 30px;
  }
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: "Prata", serif;
  /* font-family: "Brygada 1918", serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 102%; */
  /* z-index: 0; */
  /* cursor: url("/img/cursor.svg"), auto !important; */
}
a {
  color: inherit;
}
img {
  pointer-events: none;
}
.main_title_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  top: 0px;
  background-color: #adfcb3;
}
.main_title {
  font-size: 36px;
  padding: 5px 0px;
  font-family: "Rubik Mono One", sans-serif;
}
p {
  text-align: justify;
  text-indent: 50px;
  line-height: 32px;
  font-size: 110%;
  letter-spacing: 1px;
}
p::first-letter {
  font-family: "Delta";
  color: #555;
  font-size: 125%;
}
body {
  background-image: url("./img/bg.svg");
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
}
a {
  text-decoration: none;
}
menu {
  position: relative !important;
  z-index: 10 !important;
}
header {
  position: fixed;
  max-width: 250px;
  top: 60px;
  z-index: 10;
  /* display: none; */
}
nav {
  display: flex;
  flex-direction: column;
  /* height: 0; */
}
.nav_link {
  background-color: #334;
  padding: 10px 15px;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 22px;
  /* font-family: "Rubik Mono One", sans-serif; */
  font-family: "Delta", sans-serif;
  position: relative;
  transition: all 200ms ease;
  z-index: 100;
}
.span_in_link {
  position: absolute;
  top: 0;
  font-size: 10px;
  font-family: "Delta", sans-serif;
  color: rgba(255, 255, 255, 0);
}
.nav_link:hover .span_in_link {
  color: #334;
  transition: all 200ms ease;
}
.nav_link:hover,
.active_menu_item {
  background-color: rgba(255, 217, 0, 0.377);
  color: #334 !important;
  /* animation: zoomInOut 1s linear 0s infinite; */
  transition: all 200ms ease;
}

.nav_link_archi {
  color: #fff;
}
main {
  margin-left: 260px;
  top: 0;
  /* min-height: 80vh; */
}
h2 {
  text-align: center;
}
h3,
h2,
h1 {
  font-family: "Rubik Mono One", sans-serif;
  padding: 30px 0px 0px 0px;
}
footer {
  display: flex;
  flex-direction: column;
  border-top: 1px dotted #334;
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
}
.footer_info {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px dotted #334;
}
.footer_link {
  padding: 10px 15px;
  margin: 5px 0px;
  color: #334;
  text-transform: uppercase;
  font-size: 22px;
  /* font-family: "Rubik Mono One", sans-serif; */
  font-family: "Delta", sans-serif;
}
.footer_link:hover {
  color: white;
  background-color: #334;
}
.footer_copy {
  text-align: center;
  margin: 10px;
  /* display: flex; */
  justify-content: space-evenly;
  opacity: 0.4;
}
#mobile_menu_btn {
  display: none;
  position: fixed;
  z-index: 100;
}
.mobile_greetings {
  display: none;
}
.footer_tlg {
  width: 50px;
  padding: 5px;
  /* height: 50px; */
  background-image: url("/img/tlg_simple_dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer_tlg:hover {
  background-image: url("/img/tlg_simple.svg");
}
.footer_mobile_break {
  display: none;
}
.after_map {
  text-indent: 0;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 20px;
  position: relative;
  background-color: rgba(255, 0, 0, 0.255);
  padding: 10px;
  border-radius: 5px;
  /* z-index: -1; */
}
.after_map::first-letter {
  font-family: inherit;
}
.after_map::before {
  content: "!";
  font-size: 32px;
  display: table;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Delta", sans-serif;
}
.after_map a {
  color: #334;
  font-family: "Delta", sans-serif;
}
.after_map a:hover {
  border-bottom: 1px solid #334;
}
.scissors {
  margin: 30px 0px;
}
/* spinner */
.loader {
  height: 50px;
  background-image: url("/img/logo_best.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: zoomInOut 1s ease infinite;
}

.price_button {
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: rgb(79, 169, 61);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  padding: 10px;

  /* position: relative; */
  transition: all 200ms ease;
  /* z-index: 0; */
  padding: 10px;
  border: 0;

  /* width: 10%; */
}
.price_button a {
  font-family: "Delta", sans-serif;
}
.price_button:hover {
  cursor: pointer;
  background-color: #334;
}
.link_mail::first-letter {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
/* pokupki start */
#pokupki {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50px;
  top: 12px;
  width: 100px;
  height: 100px;
  background-image: url("/img/pokupki.svg");
  background-size: cover;
  opacity: 0.8;
  position: fixed;
  z-index: 200;
  border: none;
  outline: none;
  border-style: none;
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#pokupki:hover {
  opacity: 1;
  cursor: pointer;
}
#pokupki span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-family: "Delta";
}
/* pokupki end */
@media screen and (max-width: 992px) {
  .nav_link {
    font-size: 18px;
    padding: 7px 10px;
  }
  .float_img {
    width: 100% !important;
  }
  .main_title_mobile {
    z-index: 100;
  }
  menu {
    /* position: relative !important;
    z-index: 10 !important; */
  }
  header {
    z-index: -10;
    top: 16px;
  }
  nav {
    /* opacity: 0; */
    /* position: absolute; */
    transform: translateX(-100%);
    /* display: none; */
    background-color: #fff;
    padding: 0px 5px;
    transition: 200ms ease;
  }
  main {
    margin-left: 0;
    /* margin: 0px 10px; */
  }
  .main_title_container {
    display: none;
  }
  body {
    margin-top: 0px;
  }
  #mobile_menu_btn {
    display: block;
    right: 0px;
    top: 12px;
    width: 70px;
    height: 70px;
    background-image: url("/img/touch.svg");
    background-size: cover;
    opacity: 0.8;
    position: fixed;
    z-index: 200;
    border: none;
    outline: none;
    border-style: none;
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .mobile_greetings {
    display: unset;
  }
  .main_title_mobile {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    background-color: #adfcb3;
    position: fixed;
    width: 100%;
    padding: 0;
  }
  footer {
    /* position: absolute; */
    /* bottom: 20px; */
    padding-bottom: 40px;
    background-color: #334;
    color: white;
  }
  .footer_link {
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.365);
    font-size: 12px;
    text-align: center;
  }
  .footer_tlg {
    background-image: url("/img/tlg_simple.svg");
    width: 60px;
  }
  .footer_mobile_break {
    display: unset;
  }
  .after_map {
    font-size: 14px;
  }
}
