.after_map {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.25rem;
  text-align: unset;
  max-width: 80%;
}
h3 {
  font-size: 24px;
  text-align: center;
  padding-top: 0;
}
.after_map_title {
  font-family: "Delta", sans-serif;
}
.link_mail {
  text-align: center;
  text-indent: 0;
  padding: 10px;
}
.link_mail a {
  text-align: center;
  background-color: rgb(79, 169, 61);
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  padding: 10px;
  font-family: "Delta", sans-serif;
  transition: all 200ms ease;
  border: 0;
  max-width: 250px;
  margin: 10px 0px;
  animation: zoomInOut 1.2s ease infinite;
}
.link_mail a:hover {
  cursor: pointer;
  background-color: #334;
}
b {
  font-family: "Manrope";
}
h4 {
  font-size: 20px;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: 1px;
}
#order_form {
  margin-top: 50px;
}
.price_block_wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.form_wrapper {
  /* display: grid; */
  min-height: 80vh;
  background-color: rgba(221, 160, 221, 0.281);
  padding: 10px;
}
form {
  text-align: center;
  grid-template-columns: 1fr;
}
.subform {
  width: 50%;
  display: grid;
  padding: 20px;
  margin: 0 auto;
}
.subform_btn {
  /* box-sizing: border-box;
  width: 100%;
  /* padding: 20px; */
  text-align: center;

  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  /* padding: 10px; */
  font-family: "Delta", sans-serif;
  /* transition: all 200ms ease; */
  border: 0;
  max-width: 250px;
  /* margin: 10px 0px; */
  /* animation: zoomInOut 1.2s ease infinite; */
}
input,
textarea {
  outline: none;
  padding: 20px;
  border-width: 1px;
}
input[type="file"] {
  max-width: 100%;
}
input:invalid {
  /* border-color: tomato; */
}
textarea::placeholder {
  /* text-indent: 25px; */
  line-height: 1.5rem;
  letter-spacing: 1px;
}
form:invalid .subform_btn {
  /* background-color: tomato; */
  border: 2px solid white;
}
form:valid .subform_btn {
  background-color: rgb(79, 169, 61);
}
form:valid .subform_btn:hover {
  cursor: pointer;
  background-color: #334;
}
.red_star {
  color: tomato;
}
@media screen and (max-width: 992px) {
  .after_map {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
  }
  .price_block_wrapper {
    grid-template-columns: 1fr;
  }
  .prices_list {
    text-align: center;
  }
  h4 {
    text-indent: 0;
  }
  .subform {
    width: 100%;
  }
}
