main {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
}
body {
  min-height: 90vh;
}
.start_title {
  width: 100%;
  text-align: center;
  /* margin: 30px 0px; */
}
footer {
  /* position: absolute; */
  bottom: 20px;
}

h2 {
  padding: 0;
  padding-bottom: 15px;
}
.wrapper_main {
  min-height: 90vh;
  position: relative;
  z-index: 0;
}
.img_in_p {
  width: 50%;
  float: left;
  padding: 20px 20px 0px 0px;
}
.article_text {
  display: block;
  transform: scaleY(0);
  height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.hide_class {
  transform: scaleY(1);
  transform-origin: top;
  transition: all 300ms ease;
}
.show_button {
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: #334;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  position: relative;
  transition: all 200ms ease;
  z-index: 0;
  padding: 10px 15px;
  margin-bottom: 5px;
  font-size: 22px;
  font-family: "Delta", sans-serif;
  z-index: 0;
}

/* cyfrals block ????????????????????????????????????????????*/
.price_button {
  text-align: center;
  /* display: block; */
  /* margin: 0 auto; */
  background-color: rgb(79, 169, 61);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  padding: 10px;
  font-family: "Delta", sans-serif !important;
  /* position: relative; */
  transition: all 200ms ease;
  /* z-index: 0; */
  padding: 10px;
  border: 0;

  /* width: 10%; */
}
.price_button:hover {
  cursor: pointer;
  background-color: #334;
}
.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cyfrals_list_wrapper {
  position: relative;
}
.cyfral_list_title {
  top: 55px;
  padding: 0;
  padding: 10px;
  position: sticky;
  background-color: #334;
  color: white;
  /* color: tomato; */
  /* background-color: rgba(165, 218, 243, 0.781); */
  /* border: 1px dotted tomato; */
  z-index: 11;
}
.cyfral_block_container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.cyfral_block_link {
  padding: 5px;
  margin-bottom: 10px;
  display: block;
  background-color: rgba(221, 160, 221, 0.315);
  border: 2px solid transparent;
  transition: all 200ms ease;
}

.cyfral_block_link:hover {
  border: 2px solid #334;
  transition: all 200ms ease;
  background-color: rgba(221, 160, 221, 0.5);
}
.cyfral_block_link:hover .cyfral_block_img {
  transform: scale(1.01);
  transition: all 200ms ease;
  transform: scale(1.01);
}
.cyfral_block_title {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope";
  font-size: 1.3rem;
  padding-top: 0;
}
.cyfral_block_title b {
  font-family: "Manrope";
}
.cyfral_block_img {
  /* width: 100%; */
  transition: all 200ms ease;
}
.cyfral_block_description {
  text-indent: 0;
  font-size: 12px;
}
.mobile_title_list {
  display: none;
}
.hr {
  display: flex;
  margin-top: 20px;
  border-bottom: 3px dotted black;
  width: 100%;
  height: 0px;
  position: relative;
  opacity: 1;
}
.hr::before {
  display: table;
  content: "✂";
  position: absolute;
  font-size: 32px;
  height: 30px;
  width: 32px;
  top: 0;
  left: 0;
}

@media screen and (max-width: 992px) {
  main {
    flex-direction: column;
  }
  footer {
    /* position: absolute; */
    /* bottom: 20px; */
    padding-bottom: 40px;
    background-color: #334;
    color: white;
  }
  .footer_link {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.365);
    font-size: 12px;
  }
  .start_title {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .img_in_p {
    width: 100%;
    padding: 0;
  }
  .video {
    height: 200px;
  }

  .cyfral_block_container {
    /* display: grid; */
    grid-template-columns: 2fr 1fr;
    /* border: 1px solid transparent; */
  }
  .cyfral_block_title {
    display: none;
  }
  .cyfral_list_title {
    top: 16px;
    /* border: 2px solid #334; */
  }
  .mobile_title_list {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }
  .cyfral_block_link:hover {
    border: 2px solid transparent;
  }
}
